<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav') %>

  <div class="content">
    
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Sunt pariatur quia neque, perferendis blanditiis numquam 
      atque expedita et necessitatibus accusamus libero 
      voluptatibus a quae iste esse, minima officia molestias 
      temporibus? Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Adipisci corrupti dicta dolores quaerat sit cumque, nobis 
      quo eaque est fuga quidem similique a, alias laborum quam ea. 
      Accusamus, perferendis expedita.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Illum atque perferendis incidunt laboriosam eos nisi possimus,
       vel eius, praesentium quae officiis hic maiores totam accusamus 
       fugiat suscipit? Explicabo, ab sapiente.
      </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
      Dolor eius labore, vitae quis dicta necessitatibus minima, beatae 
      harum dignissimos tempora nisi. Rem iusto sed laudantium voluptas 
      soluta. Harum, error porro.
    </p>

  </div>

  <%- include('./partials/footer') %>
  
</body>
</html>